
.float-right{

	float: right;
}

.float-left{
	float:left;
}

.padding-left{
	padding-left: 10px;
}

.padding-right: {
	padding-right: : 10px;
}

.padding-top: {
	padding-top: : 10px;
}

.padding-bottom: {
	padding-bottom: : 10px;
}

.margin-left: {
	margin-left: : 10px;
}

.margin-right: {
	margin-right : 10px;
}


.text-align-right{

	text-align: right;
}

.text-align-left{

	text-align: left;
}


.nav{

	background-color: #E12A18
}

.ul{
	background-color: #F7B53D
}

.todas-fallas{

    font: 20px arial;

}

.divider{
	
	background-color: #de8b23

}

.content{
	background-color: #ECECEC
}