<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../img/favicon.ico">
  <link rel="icon" type="image/ico" href="../img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Dashboard de Monitoreo Automático | Ternium
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../css/bootstrap.min.css" rel="stylesheet" />
  <link href="../css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://mx.ternium.com/es" class="simple-text logo-normal">
          <div class="logo-image-big">
            <img src="../img/Ternium-Logo.png">
          </div>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href='https://dashboard-tenium.herokuapp.com/dashboard'>
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li>
            <a href='https://dashboard-tenium.herokuapp.com/fallas'>
              <i class="nc-icon nc-settings"></i>
              <p>Fallas</p>
            </a>
          </li>
          <!-- Aqui esta comentado futuras ventanas en caso de ser necesarias
          <li>
            <a href="https://dashboard-tenium.herokuapp.com/tablelist">
              <i class="nc-icon nc-tile-56"></i>
              <p>Table List</p>
            </a>
          </li>
          <li>
            <a href="https://dashboard-tenium.herokuapp.com/notifications">
              <i class="nc-icon nc-bell-55"></i>
              <p>Notifications</p>
            </a>
          </li>
          <li>
            <a href="https://dashboard-tenium.herokuapp.com/users">
              <i class="nc-icon nc-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="https://dashboard-tenium.herokuapp.com/icons">
              <i class="nc-icon nc-diamond"></i>
              <p>Icons</p>
            </a>
          </li>
          <li>
            <a href="https://dashboard-tenium.herokuapp.com/typography">
              <i class="nc-icon nc-caps-small"></i>
              <p>Typography</p>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Dashboard de Monitoreo Automático</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link btn-magnify" href="javascript:;">
                  <i class="nc-icon nc-layout-11"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
                </a>
              </li>
              <li class="nav-item btn-rotate dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="nc-icon nc-bell-55"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link btn-rotate" href="javascript:;">
                  <i class="nc-icon nc-settings-gear-65"></i>
                  <p>
                    <span class="d-lg-none d-md-block">Account</span>
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-vector text-danger"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Errores</p>
                      <p class="card-title">23<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-clock-o"></i>
                  En la última hora
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-time-alarm text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Última Detección</p>
                      <p class="card-title">25/05/2020<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  Recientemente actualizado
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-settings text-danger"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Última Anomalía</p>
                      <p class="card-title">Operación<p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i>
                  Recientemente actualizado
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Fallas por Mes</h5>
              </div>
              <div class="card-body ">
                <figure class="highcharts-figure">
                  <div id="stackedArea"></div>
                </figure>              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Cantidad de Fallas por Área</h5>
              </div>
              <div class="card-body ">
                <figure class="highcharts-figure">
                  <div id="tree"></div>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-title">Tiempo de Demora Promedio por Área</h5>
              </div>
              <div class="card-body">
                <figure class="highcharts-figure">
                  <div id="stackedBar"></div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, hecho con amor <i class="fa fa-heart heart"></i> por Gallos de Oro
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../js/core/jquery.min.js"></script>
  <script src="../js/core/popper.min.js"></script>
  <script src="../js/core/bootstrap.min.js"></script>
  <script src="../js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets-for-demo/js/demo.js
      demo.initChartsPages();
    });
  </script>
  <!-- Highcharts Dependencies -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/treemap.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <!-- Highcharts Code -->
  <script>
    //Stacked Bar Chart
    Highcharts.chart('stackedBar', {
      chart: {
        type: 'column'
      },
      title: {
        text: ''
      },
      xAxis: {
        categories: ['Fallas Electricas', 'Fallas Mecanicas', 'Ing Sistemas', 'Preparacion Equipos', 'Propias de Operación', 'Servicios Centrales', 'Servicios Operación']
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Minutos'
        },
        stackLabels: {
          enabled: true,
          style: {
            fontWeight: 'bold',
            color: ( // theme
              Highcharts.defaultOptions.title.style &&
              Highcharts.defaultOptions.title.style.color
            ) || 'gray'
          }
        }
      },
      legend: {
        enabled: false,
        align: 'right',
        x: -30,
        verticalAlign: 'top',
        y: 25,
        floating: true,
        backgroundColor:
          Highcharts.defaultOptions.legend.backgroundColor || 'white',
        borderColor: '#CCC',
        borderWidth: 1,
        shadow: false
      },
      tooltip: {
        headerFormat: '<b>{point.x}</b><br/>',
        pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
      },
      plotOptions: {
        column: {
          stacking: 'normal',
          dataLabels: {
            enabled: true
          }
        }
      },
      series: [{
        name: 'Botarse Molino',
        color: '#FFBE7D',
        data: [33.85]
      }, {
        name: 'Botarse Motor',
        color: '#59A14F',
        data: [35.99]
      }, {
        name: 'Fallas Electricas',
        color: '#E15759',
        data: [36.51]
      }, {
        name: 'Alineacion',
        color: '#A0CBE8',
        data: [0,46.87]
      }, {
        name: 'Alojamiento',
        color: '#F28E2B',
        data: [0,10.48]
      }, {
        name: 'Fallas Mecanicas',
        color: '#FF9D9A',
        data: [0,49.55]
      }, {
        name: 'Ing Sistemas',
        color: '#79706E',
        data: [0,0,22.82]
      }, {
        name: 'Proyectos Inversion',
        color: '#D37295',
        data: [0,0,8.63]
      }, {
        name: 'Sistemas',
        color: '#9D7660',
        data: [0,0,37]
      }, {
        name: 'Ajuste',
        color: '#4E79A7',
        data: [0,0,0,6.41]
      }, {
        name: 'Preparacion Equipos',
        color: '#BAB0AC',
        data: [0,0,0,12]
      }, {
        name: 'Coordinacion Personal',
        color: '#8CD17D',
        data: [0,0,0,0,6.07]
      }, {
        name: 'Fallas de operacion',
        color: '#86BCB6',
        data: [0,0,0,0,6.42]
      }, {
        name: 'Edificios',
        color: '#B6992B',
        data: [0,0,0,0,0,6.33]
      }, {
        name: 'Falla Grua',
        color: '#499894',
        data: [0,0,0,0,0,5.37]
      }, {
        name: 'Servicios Centrales',
        color: '#B07AA1',
        data: [0,0,0,0,0,6.23]
      }, {
        name: 'Espera de rodillos',
        color: '#F1CE63',
        data: [0,0,0,0,0,0,42.15]
      }, {
        name: 'Rodillos Defectuosos',
        color: '#FABFD2',
        data: [0,0,0,0,0,0,17.79]
      }, {
        name: 'Servicios Operación',
        color: '#D4A6C8',
        data: [0,0,0,0,0,0,21.85]
      }]
    });

    // Stacked Area Chart
    Highcharts.chart('stackedArea', {
    chart: {
      type: 'area'
    },
    title: {
      text: ''
    },
    subtitle: {
      text: ''
    },
    xAxis: {
      categories: ['Junio 2019','Julio 2019', 'Agosto 2019', 'Septiembre 2019', 'Octubre 2019', 'Noviembre 2019', 'Diciembre 2019', 'Enero 2020', 'Febrero 2020', 'Marzo 2020', 'Abril 2020', 'Mayo 2020', 'Junio 2020'],
      tickmarkPlacement: 'on',
      title: {
        enabled: false
      }
    },
    yAxis: {
      title: {
        text: 'Fallas'
      },
      labels: {
        formatter: function () {
          return this.value;
        }
      }
    },
    tooltip: {
      split: true,
      valueSuffix: ''
    },
    plotOptions: {
      area: {
        stacking: 'normal',
        lineColor: '#666666',
        lineWidth: 1,
        marker: {
          lineWidth: 1,
          lineColor: '#666666'
        }
      }
    },
    series: [{
      name: 'Fallas Electricas',
      data: [56,25,29,40,13,26,33,20,39,50,49,101,52],
      color: '#4A79A7'
    }, {
      name: 'Fallas Mecanicas',
      data: [28,46,47,62,36,31,43,21,62,67,39,90,20],
      color: '#F28E2B'
    }, {
      name: 'Ing Sistemas',
      data: [0,0,12,2,1,0,50,116,18,2,0,0,0],
      color: '#E15759'
    }, {
      name: 'Preparacion Equipos',
      data: [101,119,101,124,60,72,90,71,112,88,87,57,49],
      color: '#76B7C2'
    }, {
      name: 'Propias de Operación',
      data: [79,69,92,105,30,112,123,35,39,16,9,22,14],
      color: '#59A14F'
    }, {
      name: 'Servicios Centrales',
      data: [0,4,8,8,0,14,12,2,22,6,0,20,6],
      color: '#EDC948'
    }, {
      name: 'Servicios Operación',
      data: [4,2,4,4,4,6,10,2,2,10,14,24,6],
      color: '#B07AA1'
    }]
    });
    //Tree chart
    Highcharts.chart('tree', {
    series: [{
      type: "treemap",
      layoutAlgorithm: 'stripes',
      alternateStartingDirection: true,
      levels: [{
        level: 1,
        layoutAlgorithm: 'sliceAndDice',
        dataLabels: {
          enabled: true,
          align: 'left',
          verticalAlign: 'top',
          style: {
            fontSize: '15px',
            fontWeight: 'bold'
          }
        }
      }],
      data: [{
        name: 'Fallas Electricas',
        value: 101,
        color: '#4A79A7'
      }, {
        name: 'Fallas Mecanicas',
        value: 90,
        color: '#F28E2B'
      }, {
        name: 'Preparacion Equipos',
        value: 57,
        color: '#76B7C2'
      }, {
        name: 'Propias de Operación',
        value: 22,
        color: '#59A14F'
      }, {
        name: 'Servicios Operación',
        value: 24,
        color: '#B07AA1'
      }, {
        name: 'Servicios Centrales',
        value: 20,
        color: '#EDC948'
      }, {
        name: 'Ing Sistemas',
        value: 4,
        color: '#E15759'
      }]
    }],
    title: {
      text: ''
    }
  });



  </script>



</body>

</html>
