.header{

    font: 25px arial;
    text-align: center;
    padding-top: 10px;
    color : white;
    
} 

.emphasize{

    font: 50px arial;
    text-align: center;
    color:red;

}

